nav.navbar.navbar-default{
    background: #166e4b;
    background: -moz-linear-gradient(left, #166e4b 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(left, #166e4b 0%,#7db9e8 100%);
    background: linear-gradient(to right, #166e4b 0%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141b68', endColorstr='#7db9e8',GradientType=1 );
    margin-top: 10px;
  }
  
  nav.navbar.navbar-default a {
    color: white;
  }
  
  li p.navbar-text, a.navbar-brand {
    color: white!important;
    font-weight: bolder;
  }
  
  footer.footer {
    background: #166e4b;
    background: -moz-linear-gradient(left, #166e4b 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(left, #166e4b 0%,#7db9e8 100%);
    background: linear-gradient(to right, #166e4b 0%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141b68', endColorstr='#7db9e8',GradientType=1 );
    margin-top: 55px;
    color: white;
    border-radius: 5px;
  }
  
  footer.footer p {
    padding: 10px;
  }

.lista-produto {
  min-height: 70%;
}

.btn-estoque-sucess {
  width: 20%;
  margin: 15px 0 0 0;
  background-color: #166e4b;
}